@charset "UTF-8";
@import url("html5reset-1.6.1.css");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

/* ↓レイアウト↓ */

*{
    line-height:150%;
}

body{
    color:#555;
    background-color:#fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
}

.base{
    margin:0 auto;
    max-width:1000px;
}

.header{
    padding:3px;
    margin:3px 0px;
    text-align:left;
}

.footer{
    padding:10px;
    text-align:center;
}

.work{
    padding:10px;
    margin:3px 0px 3px 0px;
}

.menu{
    margin:3px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    font-family: 'Josefin Sans', sans-serif;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.colum{
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    margin:15px 0px;
}

.box{
    margin:0px;
    padding:3px;
}

.text{
    margin:5px 0px;
    padding:20px;
    line-height:180%;
}

img
{
	max-width:100% ;
	height:auto ;
}


/* ↓タグ↓ */

h1{
    font-size:160%;
    font-weight:normal;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size:70%;
    font-weight:normal;
    margin:10px;
}

h3{
    font-size:120%;
    font-weight:normal;
    text-align:left;
    margin:20px 0px;
    font-family: 'Josefin Sans', sans-serif;
    color:#202020;
}

h3::before { content: none; }

/* 必要な見出しだけ矢印を付ける */
h3.section-title::before{
  font-family:'Font Awesome 5 Free';
  content:'\f101';
  font-weight:900;
  margin-right:10px;
  color:#6699cc;
}

h4{
    font-size:90%;
    font-weight:normal;
    margin:15px 0px;
    border-width:3px 0px 0px 0px;
    border-style:solid;
    border-color:#999;
    padding:4px 0px;
}

h5{
    font-size:90%;
    font-weight:normal;
    margin:10px 0px;
    border-width:0px 0px 1px 0px;
    border-style:dashed;
    border-color:#6699cc;
    padding:4px 0px;
}

h6{
    font-size:80%;
    font-weight:normal;
    margin:10px 0px;
    background-color:#a0a0a0;
    color:#fff;
    padding:3px;
}

p{
    text-align:left;
    padding:5px 0px;
}

em{
   background: linear-gradient(transparent 60%, #fff799 60%);
}

strong{
    background-color:#6699cc;
    font-weight:normal;
    color:#fff;
}

small{
    font-size:70%;
}

big{
    font-size:130%;
}

ins{
    background-color:#eaeaea;
}

i{
    font-style:italic;
}

a:link{
    color:#6699cc;
    text-decoration:none;
}

a:visited{
    color:#6699cc;
    text-decoration:none;
}

h1 a:link{
    color:#202020;
}

h1 a:visited{
    color:#202020;
}

a:hover{
    text-decoration:underline;
}

blockquote{
    position:relative;
    padding:10px 10px 10px 50px;
    box-sizing border-box;
    background:#f5f5f5;
    border-left:6px double #ccc;
    margin:15px;
    font-size:90%;
}

blockquote:before{
    display:inline-block;
    position:absolute;
    top:15px;
    left:15px;
    vertical-align: middle;
    content:'\00275e';
    color:#ccc;
    font-size:30px;
}

li{
    padding:5px;
    margin:0px 0px 0px 20px;
}

ul{
    margin:10px 0px;
}

ol{
    margin:10px 0px;
}

dl{
    padding-left:3px;
    margin:10px 0px;
}

dt{
    padding-left:5px;
}

dd{
    padding-left:10px;
}

address{
    font-size:80%;
    font-family: 'Josefin Sans', sans-serif;
}

cite{
    font-size:smaller;
}


/* ↓classタグ↓ */

.item2{
    margin:5px;
    padding:5px;
    font-size:70%;
    text-align:center;
    width:28%;
}

.item3-1{
    padding:5px;
    font-size:90%;
    text-align:right;
    width:70%;
    color:#264d73;
}

.item3-2{
    padding:5px;
    font-size:70%;
    text-align:left;
    width:130%;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
}

.list1{
    list-style:none;
}

.list1 li{
    display: inline-block;
}

.list2{
    list-style-type:upper-roman;
}

.hr1{
    margin:5px 0px;
    border-top: 1px #ccc;
    border-bottom: 1px #fff;
    border-style:solid;
}

.hr2{
    margin:5px 0px;
    border-top: 1px #aaa;
    border-style:dashed;
}

.hr3{
    margin:5px 0px;
    height:50px;
    border-width:0px;
}

.p1{
    padding:5px;
    margin:5px 0px;
    font-size:90%;
    background-color:#f9f9f9;
}

.p2{
    border-style:double;
    border-width:3px;
    border-color:#ccc;
    padding:3px;
    margin:5px 0px;
    font-size:90%;
}

.p3{
    border-style:dashed;
    border-width:1px;
    border-color:#ccc;
    padding:5px;
    margin:5px 0px;
    font-size:90%;
}

.dl1{
    margin:20px 0px;

}

.dt1{
    font-weight:normal;
    margin:5px 5px 0px -15px;
    font-family: 'Josefin Sans', sans-serif;
    color:#202020;
}

.dd1{
    font-size:80%;
    border-style:solid;
    border-width:0px 0px 0px 7px;
    margin:0px;
    border-color:#ddd;
    padding:3px 10px;
}

.dt1span{
    font-size:100%;
    padding:3px 5px;
    color:#b40214;
}

.memo{
    background-color:#f2f6fb;
    font-size:80%;
    padding:0px 10px;
    height:550px;
    overflow:auto;
    margin:5px 10px;
}

.img1{
    box-shadow:1px 1px 3px -1px #888;
}

.counter{
    font-family:,Arial;
}

.pagetop{
    position: fixed;
    bottom: 10px;
    right: 14px;
}
 
.pagetop a{
    display: block;
    text-decoration: none;
}
 
.pagetop:hover{
    opacity: 0.7 ;
}


/*↓ディスプレイ580px以下用↓*/

@media screen and (max-width:580px) 

{
    
.base{
    width:auto;
    margin:-20px 5px;
}

.box{
    margin:0px;
}

.work{
    float:none;
    width:auto;
    margin:0px;
    padding:10px;
}

.text{
    float:none;
    width:auto;
    margin:0px;
    padding:10px;
}

.gallery{
    flex-direction:column;
    width:auto;
    margin:0px;
}

.colum{
    flex-direction:column;
    width:auto;
    margin:10px 0px;
}

.item2{
    width:95%;
}

.item3-1{
    width:95%;
    padding:6px;
}

.item3-2{
    width:95%;
}

h1{
    font-size:150%;
    margin-top:75px;
}

}

.timeline {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  display: grid;
  gap: 12px;
}

.timeline-item {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  background: #fff;
  padding: 12px 14px;
}

.timeline-date {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 6px;
}

.timeline-title {
  font-size: 16px;
  font-weight: 700;
}

.timeline-sub {
  margin: 8px 0 0;
  padding-left: 18px;
  line-height: 1.7;
}

.about-card {
  margin-top: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
}

.about-card-head {
  padding: 10px 14px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.about-card-body {
  padding: 12px 14px;
}

.about-banner {
  margin-bottom: 10px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

/* カード内のh3は、h3::before(矢印)を付けない */
h3.card-title::before {
  content: none !important;
}

/* ===== Gallery Controls ===== */
.gallery-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 14px;
  align-items: center;
  margin: 10px 0 14px;
  padding: 10px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  background: #fff;
}

.gc-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gc-label {
  font-size: 13px;
  opacity: 0.85;
  min-width: 3.5em;
}

.gc-select {
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.gc-range {
  width: 180px;
}

.gc-badge {
  display: inline-block;
  min-width: 2.2em;
  text-align: center;
  font-size: 12px;
  padding: 3px 8px;
  border: 1px solid #ddd;
  border-radius: 999px;
  background: #fafafa;
}

/* ===== Gallery Layout ===== */
.gallery-grid {
  --gallery-cols: 3;
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  display: grid;
  gap: 14px;
}

/* グリッド */
.gallery-grid.is-grid {
  grid-template-columns: repeat(var(--gallery-cols), minmax(220px, 1fr));
}

/* リスト（1列 + 横並び） */
.gallery-grid.is-list {
  grid-template-columns: 1fr;
}

.gallery-grid.is-list .gallery-card {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 12px;
  align-items: start;
}

.gallery-grid.is-list .gallery-img {
  height: 140px;
}

/* 既存カードに馴染ませる（未定義なら有効になる） */
.gallery-card {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  padding: 10px;
}

.gallery-link {
  display: block;
}

.gallery-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.gallery-desc {
  margin: 10px 2px 2px;
  line-height: 1.7;
  font-size: 14px;
}

@media screen and (max-width: 580px) {
  .gc-range { width: 140px; }
  .gallery-grid.is-list .gallery-card {
    grid-template-columns: 1fr;
  }
  .gallery-grid.is-list .gallery-img {
    height: 180px;
  }
}


/* ===== Modal ===== */
html.modal-open,
html.modal-open body {
  overflow: hidden;
}

.img-modal {
  border: none;
  padding: 0;
  background: transparent;
  max-width: min(1100px, 96vw);
  width: 96vw;
}

.img-modal::backdrop {
  background: rgba(0,0,0,0.6);
}

.img-modal[open] {
  display: grid;
  place-items: center;
}

.img-modal__inner {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 100%;
}

.img-modal__close {
  appearance: none;
  border: 0;
  background: transparent;
  font-size: 28px;
  line-height: 1;
  padding: 10px 14px;
  cursor: pointer;
  float: right;
}

.img-modal__figure {
  margin: 0;
  padding: 14px;
  clear: both;
}

.img-modal__img {
  width: 100%;
  height: min(70vh, 720px);
  object-fit: contain;
  background: #f7f7f7;
  border-radius: 12px;
  display: block;
}

.img-modal__cap {
  margin-top: 10px;
}

.img-modal__title {
  font-weight: 700;
}

.img-modal__desc {
  margin-top: 6px;
  opacity: 0.9;
  line-height: 1.7;
}

.img-modal__actions {
  padding: 0 14px 14px;
}

.img-modal__link {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  text-decoration: none;
}

.gallery-img {
  background: #f3f3f3;
}
.gallery-img.is-error {
  background: #ffecec;
}
